# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Lib/DJISDK/DJISDK.pro.user
Lib/RISCV/CORE/BEAN/src/ALU_summary.html
*.gise
Lib/RISCV/CORE/BEAN/src/BEAN.xise
*.xreport
Lib/RISCV/CORE/BEAN/src/_xmsgs/pn_parser.xmsgs
Lib/RISCV/CORE/BEAN/src/ALU_envsettings.html
*.xrpt
Lib/RISCV/CORE/BEAN/src/ALU.xst
*.syr
Lib/RISCV/CORE/BEAN/src/ALU.stx
*.prj
Lib/RISCV/CORE/BEAN/src/ALU.ngr
*.ngc
Lib/RISCV/CORE/BEAN/src/ALU.lso
*.cmd_log
Lib/RISCV/CORE/BEAN/src/BEAN.jhd
*.schlog
Lib/RISCV/CORE/BEAN/src/sch2HdlBatchFile
*.xml
Lib/RISCV/CORE/BEAN/src/xst/work/work.sdbl
*.sdbx
Lib/RISCV/CORE/BEAN/src/_xmsgs/xst.xmsgs
*.log
Lib/RISCV/CORE/BEAN/src/ipcore_dir/DDR3.veo
*.xco
Lib/RISCV/CORE/BEAN/src/ipcore_dir/DDR3.xise
*.tcl
Lib/RISCV/CORE/BEAN/src/ipcore_dir/DDR3/docs/ug388.pdf
*.pdf
Lib/RISCV/CORE/BEAN/src/ipcore_dir/DDR3/example_design/log.txt
*.txt
Lib/RISCV/CORE/BEAN/src/ipcore_dir/DDR3/example_design/par/create_ise.bat
*.cgp
Lib/RISCV/CORE/BEAN/src/ipcore_dir/DDR3/example_design/par/example_top.cdc
*.ucf
Lib/RISCV/CORE/BEAN/src/ipcore_dir/DDR3/example_design/par/ise_flow.bat
*.bat
